packages: [
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "autocomplete-awk"
  "autocomplete-haskell"
  "color-picker"
  "editorconfig"
  "haskell-ghc-mod"
  "ide-haskell"
  "ide-haskell-cabal"
  "ide-haskell-repl"
  "language-archlinux"
  "language-awk"
  "language-elm"
  "language-haskell"
  "language-ini"
  "language-latex"
  "language-markdown"
  "latex"
  "linter"
  "linter-elm-make"
  "linter-shellcheck"
  "linter-ui-default"
  "magic-reflow"
  "minimap"
  "package-sync"
  "pdf-view"
  "project-manager"
]
