"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "f96e777f-ace7-9fe4-3f87-ac9f33d8e474"
  "ide-haskell": {}
  "package-sync":
    createOnChange: true
  welcome:
    showOnStartup: false
